/* index.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  background-color: #000000;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header #logo {
  font-size: 1.5em;
  margin-right: auto;
  padding-left: 2rem;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 2rem;
  display: flex;
}

.header li {
  margin: 0 15px;
}

.header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.header a:hover {
  text-decoration: underline;
}
h2 {
  margin: 1rem 0;
  padding-left: 43%;
  
}
.trip-item {
  display: flex;
  flex-direction: column;
  
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
